.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    height: 70px;
  }
  
  .header .user-info {
    display: flex;
    align-items: center;
  }
  
  .header .user-info span {
    margin: 10px;
    display: inline-block; /* span을 블록 요소처럼 동작하게, 한 줄에 위치하게 */
    width: 100px; /* 원하는 가로 길이 */
    white-space: nowrap; /*텍스트가 줄 바꿈되지 않도록 */
  }
  
  .header button {
    cursor: pointer;
    width: 100%;
    padding: 7px;
    background-color: #ffffff;
    color: #313131;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 전환 효과 */
  }

  .header button:hover {
    background-color: #ccc; /* 호버 시 배경색 */
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin: 50px 4px;
  }

  .search-form input[type="date"]{
    width: 15%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;  
  }

  .search-form input[type="text"] {
    width: 500px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  .search-form button {
    background-color: #000000; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색 */
    width: 60px;
    height: 40px;
    /* border: 1px solid; */
    padding: 5px; 
    margin: 10px;
    font-size: 13px; 
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 커서 모양 */
    transition: background-color 0.3s; /* 배경색 전환 효과 */
  }


  .search-form button:hover {
    background-color: #0056b3; /* 호버 시 배경색 */
  }
  