 .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .news-item {
    width: 270px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .news-item img {
    max-width: 100%;
    height: auto;
  }
  
  .no-image {
    background-color: #f0f0f0;
    color: #aaa;
    padding: 10px;
    text-align: center;
    font-style: italic;
  }

  .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 10px;
  }

  .pagination a {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-decoration: none;
  color: #333;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  }

  .pagination-item .active {
  background-color: #007bff;
  /* color: #fff; */
  font-weight: bold;
  cursor: default;
  }

  .pagination a:hover:not(.active) {
  background-color: #999999;
  }

  .pagination-button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  }

  .pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  }

  .pagination-button:not(:disabled):hover {
  background-color: #f1f1f1;
  }