.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    height: 60px;
  }
  
  .header .logo img {
    max-width: 100px;
    margin-top: 30px;
    margin-left: 5px;
    /* height: 40px; */
  }
  
  .header .user-info {
    display: flex;
    align-items: center;
  }
  
  .header .user-info span {
    margin-right: 10px;
    display: inline-block; /* span을 블록 요소처럼 동작하게 */
    width: 100px; /* 원하는 가로 길이 */
    white-space: nowrap; /*텍스트가 줄 바꿈되지 않도록 */
  }
  
  .header .user-info button {
    padding: 5px 10px;
    margin-top: 3px;
    height: 30px;
    cursor: pointer;
  }
  